.header {
  background-color: $green-900;
  position: relative;

  &__top {
    background-color: $dark-800;
    padding: 14px 0;
  }

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top-list {
    display: flex;
    margin-right: auto;
  }

  &__top-item {
    &:not(:last-child) {
      margin-right: 48px;
    }
  }

  &__top-icon {
    width: 32px;
    height: 22px;
    fill: $white;
    margin-right: 12px;

    &--phone {
      width: 22px;
    }
  }

  &__top-link {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: $white;
    font-weight: 700;
    line-height: 1.3;
    position: relative;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      border-radius: 3px;
      outline: 3px solid $green-200;
    }

    &:active {
      color: $green-200;
      outline: none;

      .header__top-icon {
        fill: $green-200;
      }
    }
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__catalog {
    min-width: 240px;
    margin-right: 30px;
  }

  .jq-selectbox {
    background-color: $white;
    z-index: 5;
    font-weight: 600;
    background-color: $white;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $green-200;
    }

    &__select {
      background-position: 18px 16px;
      background-repeat: no-repeat;
      background-size: 25px 17px;
      padding: 15px 38px 15px 61px;
      position: relative;
      color: $green-900;
      background-image: url("../images/icons/nav-icon.svg");
      transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    }

    &__trigger {
      background-image: url("../images/icons/chevron-nav-right.svg");
      position: absolute;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      right: 19px;
      top: 23px;
      width: 7px;
      height: 4px;
      transition: background-color 0.3s ease-in-out;
    }

    &__dropdown {
      width: 100%;
    }

    li {
      padding: 15px 24px;
      background-color: $white;
      transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
      border: 1px solid $silver-300;

      &:last-child {
        border-radius: 0 0 6px 6px;
      }

      &:hover {
        color: $green-900;
        border-left: 3px solid $green-900;
      }

      &:focus {
        box-shadow: 0px 0px 0px 3px $green-200;
      }
    }
  }

  .focused .jq-selectbox__select {
    outline: 3px solid $green-100;
    border-radius: 6px;
  }

  .jq-selectbox.opened {
    border-radius: 6px 6px 0 0;
    background-color: $green-200;

    .jq-selectbox__select {
      outline: transparent;
    }
  }

  &__search-bar {
    display: flex;
    margin-right: 50px;
    position: relative;
    width: 100%;
  }

  &__input {
    padding: 15px 0 15px 51px;
    border-radius: 6px 0 0 6px;
    background-image: url("../images/icons/icon-search.svg");
    background-position: 12px 15px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    max-width: 418px;
    width: 100%;

    &::placeholder {
      color: $dark-800;
    }

    &:focus {
      outline: 3px solid $green-100;
    }
  }

  &__button {
    padding: 15px 52px;
    color: $white;
    background-color: $dark-800;
    border-radius: 0 6px 6px 0;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgba($color: $dark-800, $alpha: 0.85);
    }

    &:focus {
      outline: 3px solid $green-100;
    }

    &:active {
      color: rgba($color: $white, $alpha: 0.5);
      opacity: 1;
      box-shadow: inset 0px 4px 4px rgba($color: $dark, $alpha: 0.25);
      outline: transparent;
    }
  }
}

.user-memu {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__button {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgba($color: $white, $alpha: 0.1);
    }

    &:focus {
      background-color: rgba($color: $white, $alpha: 0.1);
      outline: 3px solid $green-100;
    }

    &:active {
      outline: none;

      .user-memu__icon {
        fill: rgba($color: $white, $alpha: 0.5);
      }
    }
  }

  &__icon {
    width: 32px;
    height: 30px;
    fill: $white;
  }

  &__counter {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 18px;
    height: 18px;
    background-color: $white;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    color: $red-900;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.basket {
  position: absolute;
  z-index: 11;
  right: 0;
  top: 0;
  background-color: $silver-100;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 476px;
  width: 100%;
  transform: translateX(150%);
  transition: transform 0.3s ease-in-out;

  &--active {
    transform: translateX(0);
  }

  &__close {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 13px;
    right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $green-200;

      .basket__close-icon {
        fill: $green-900;
      }
    }

    &:focus {
      outline: 3px solid $green-100;
    }
  }

  &__close-icon {
    width: 24px;
    height: 24px;
    fill: $dark-800;
    transition: fill 0.3s ease-in-out;
  }

  &__top {
    font-size: 24px;
    line-height: 1.2;
    background-color: $silver-600;
    padding: 19px 24px 12px;
    background-color: $white;
    border-bottom: 1px solid rgba($color: $silver-600, $alpha: 0.3);
  }

  &__title {
    display: block;
    font-size: 24px;
    line-height: 1.2;
    color: $dark;
    margin-bottom: 12px;
  }

  &__clear {
    display: block;
    color: $dark;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    transition: color 0.3s ease-in-out;
    border-radius: 3px;

    &:hover {
      color: $green-900;
    }

    &:focus {
      outline: 3px solid $green-100;
    }
  }

  &__list {
    flex: 1 1 auto;
    padding: 12px;
    overflow: auto;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__sum {
    padding: 24px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: $white;
  }

  &__sum-text {
    line-height: 1.2;
    color: $dark;
  }

  &__sum-price {
    font-weight: 600;
    line-height: 1;

    span {
      font-size: 14px;
    }
  }

  &__checkout {
    padding: 22px 0;
    color: $white;
    background-color: $green-900;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    border-radius: 0;
  }
}

.basket-item {
  display: flex;
  position: relative;
  padding: 12px;
  align-items: flex-end;
  background-color: $white;
  border-radius: 3px;
  border: 1px solid $silver-600;
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: $green-900;
  }

  &__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $green-200;

      .basket-item__close-icon {
        fill: $green-900;
      }
    }

    &:focus {
      outline: 3px solid $green-100;
    }
  }

  &__close-icon {
    width: 12px;
    height: 12px;
    fill: $silver-600;
    transition: fill 0.3s ease-in-out;
  }

  &__link {
    display: flex;
    margin-right: auto;
  }

  &__image {
    object-fit: contain;
    margin-right: 32px;
  }

  &__info {
    align-self: center;
    max-width: 170px;
  }

  &__text {
    font-weight: 600;
    color: $dark-900;
    margin-bottom: 5px;
  }

  &__cost {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;

    span {
      font-size: 14px;
    }
  }

  .counter {
    margin-right: 12px;

    .minus {
      border-radius: 0;
    }

    .plus {
      border-radius: 0;
    }
  }

  &__total-cost {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;

    span {
      font-size: 14px;
    }
  }
}
