.banners {
  padding-bottom: 72px;

  @include mq("tablet") {
    padding-bottom: 58px;
  }

  @include mq("phone") {
    padding-bottom: 48px;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include mq("tablet-2") {
      flex-direction: column;
    }
  }

  &__item {
    max-width: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;

    &:not(:last-child) {
      margin-right: 15px;

      @include mq("tablet-2") {
        margin: 0 auto 12px;
      }
    }

    @include mq("tablet-2") {
      margin: 0 auto;
      width: 100%;
    }

    &--first {
      width: 100%;
      color: $white;

      .banner__text {
        text-shadow: 1px 1px 0px rgba($color: $dark, $alpha: 0.25);
      }

      .banners__title {
        max-width: 346px;
        text-shadow: 2px 2px 0px rgba($color: $dark, $alpha: 0.25);

        @include mq("tablet-2") {
          max-width: 100%;
        }

        @include mq("phone") {
          max-width: 260px;
        }
      }

      .banners__link {
        text-shadow: 1px 1px 0px rgba($color: $dark, $alpha: 0.25);

        &::after {
          background-color: $white;
        }
      }
    }
  }

  &__content {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 300px;
    min-height: 300px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba($color: $dark, $alpha: 0.25);

    @include mq("tablet-2") {
      max-width: 100%;
    }

    @include mq("phone") {
      padding: 76px 32px 38px;
    }
  }

  &__text {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 18px;
  }

  &__title {
    font-family: "Ruda";
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 12px;
    max-width: 175px;

    @include mq("tablet-2") {
      max-width: 100%;
    }

    @include mq("phone") {
      font-size: 24px;
      margin-bottom: auto;
      max-width: 130px;
    }
  }

  &__link {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    position: relative;
    max-width: max-content;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -6px;
      height: 2px;
      background-color: $dark-500;
    }
  }
}
