.brands {
  padding: 72px 0;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__link {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
