.advantage {
  display: flex;
  justify-content: center;
  padding: 48px 0 30px;
  background-color: $silver-100;

  @include mq("phone") {
    padding: 30px 0;
  }

  &__list {
    display: flex;

    @include mq("tablet") {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    @include mq("phone") {
      flex-direction: column;
    }
  }

  &__item {
    max-width: 264px;
    padding-left: 74px;
    background-size: 50px 50px;
    background-position: left top;
    background-repeat: no-repeat;

    @include mq("tablet") {
      max-width: 100%;
    }

    &:not(:last-child) {
      margin-right: 65px;

      @include mq("tablet") {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

    &:first-child {
      @include mq("tablet") {
        margin-right: 10px;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    color: $dark-900;
    margin-bottom: 7px;
  }
}
