.badge {
  border-radius: 6px;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  color: $white;
  padding: 3px 6px;
  text-align: center;
  text-transform: uppercase;
  display: none;
  width: max-content;
  margin-bottom: 6px;
  

  &--novelty {
    background-color: $green-900;
    display: flex;
  }

  &--discount {
    background-color: $red-900;
    display: flex;
  }

  &--best-seller {
    background-color: $orange-900;
    display: flex;
  }
}
