.burger {
  display: none;
  width: 44px;
  height: 44px;
  margin-right: 7px;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    .burger__line,
    &::before,
    &::after {
      background-color: $green-900;
    }
  }

  &:focus {
    outline: 3px solid $green-100;
  }

  @include mq("tablet") {
    display: block;
  }

  &__line {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 2px;
    background-color: $white;
    transition: background-color 0.3s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 7px;
    width: 30px;
    height: 2px;
    background-color: $white;
    transition: background-color 0.3s ease-in-out;
  }

  &::before {
    top: 12px;
  }

  &::after {
    bottom: 12px;
  }

  &--active &__line {
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
  }

  &--active::before {
    transform: rotate(45deg) translateY(-2px) translateX(2px);
    top: 50%;

    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    width: 25px;
  }

  &--active::after {
    transform: rotate(-45deg) translateY(2px) translateX(2px);
    top: 50%;

    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    width: 25px;
  }
}
