.counter {
  position: relative;
  padding: 0 24px;
  width: 84px;
  height: 24px;

  .jq-number__field input {
    width: 36px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    background-color: rgba($color: $green-900, $alpha: 0.1);

    &:focus {
      outline: 3px solid $green-200;
    }
  }

  .jq-number__spin {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $green-900;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $dark-green-900;
    }

    &:focus {
      outline: 3px solid $green-200;
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba($color: $white, $alpha: 0.25);
      color: rgba($color: $white, $alpha: 0.5);
      outline: transparent;
      background-color: $green-900;
    }
  }

  .minus {
    left: 0;
    top: 0;
    border-radius: 3px 0px 0px 3px;
    transition: background-color 0.3s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: $white;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .plus {
    top: 0;
    right: 0;
    border-radius: 0px 3px 3px 0px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: $white;
      transform: translateX(-50%) translateY(-50%);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 20px;
      background-color: $white;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
